{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for item in active_listings %}
            <li><div id="listing-box">
                <a href="{% url 'listing' title=item.title %}">{{ item.title }}</a>
                 {% if item.image_url != '' %}
                     <img src="{{ item.image_url }}" alt="picture of a {{ item.title }}">
                 {% endif %}
                <p>{{ item.description }}</p>
                 {% if item.current_bid == 0 %}
                <p>Starting bid: R{{ item.starting_bid }}</p>
            {% else %}
               <p>Current bid: R{{ item.current_bid }}</p>
            {% endif %}
            </div>
            </li>
        {% endfor %}
    </ul>
    
        
    <a href="{% url 'create_listing' %}">Create a listing</a>
{% endblock %}