{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {%  if not listings_and_highest_bids %}
            <li>No active listings</li>
            {% else %}
        {% for item in listings_and_highest_bids %}
            <li><div id="listing-box">
                <h3><a href="{% url 'listing' item_id=item.listing.id %}">{{ item.listing.title }}</a></h3>
                 {% if item.listing.image_url != '' %}
                     <img src="{{ item.listing.image_url }}" alt="picture of a {{ item.listing.title }}">
                 {% endif %}
                <p>{{ item.listing.description }}</p>
                 {% if item.highest_bid %} <!-- if the list of bids is not empty-->
                     <p>Highest bid: R{{ item.highest_bid.bid_amount }}</p>
                 {% else %}
                     <p>Starting bid: R{{ item.listing.starting_bid }}</p>
                 {% endif %}
            </div>
            </li>
        {% endfor %}
        {% endif %}
    </ul>
    
    
    <!--<a href="{% url 'create_listing' %}">Create a listing</a>-->
{% endblock %}