{% extends "auctions/layout.html" %}

{% block title %}
{{ item.title }}
{% endblock %}

{% block body %}
    <h1>{{ item.title.capitalize }}</h1>
    {% if item.image_url != '' %}
        <img src="{{ item.image_url }}" alt="picture of a {{ item.title }}">
    {% endif %}
    <p>{{ item.description }}</p>
    {% if item.category != '' %}
        <p>Category: <a href="{% url 'category_page' cat=item.category %}" id="category-title">{{ item.category }}</a></p>
    {% endif %}
    <p>Item posted by: {{ item.user.username }}</p>
    <p>Starting bid: R{{ item.starting_bid }}</p>
    
    {% if item.active %}
        
         {% if item.bids.all %} <!-- if the list of bids is not empty-->
             <p>Highest bid: R{{ highest_bid.bid_amount }}</p>
         {% else %}
            <p>No bids yet. Be the first to bid!</p>
         {% endif %}
    
        
            <!-- spot for showing who holds the current highest bid -->
        {% if request.user == item.user and item.active %}
            <form action="{% url 'close_listing' item_id=item.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Close Listing</button>
            </form>
        {% endif %}
    

        {% if user.is_authenticated  %}
            
            {% if in_watchlist  %}
                <form action="{% url 'remove_watchlist' item_id=item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'add_watchlist' item_id=item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to Watchlist</button>
                </form>
            {% endif %}    
        
            <form action="{% url 'new_bid' item_id=item.id %}" method="POST">
            {% csrf_token %}
            <label for="new_bid_input">Place a bid:</label>
                {% if highest_bid %}
                    <input id="new_bid_input" type="number" name="new_bid" min={{ highest_bid.bid_amount }} step="0.01">
                {% else %}
                    <input id="new_bid_input" type="number" name="new_bid" min={{ item.starting_bid }} step="0.01">
                {% endif %}
            <input type="submit">
            </form>

            {% if equal_bid_message is True %}
                <div id="bid-too-low">
                {% if highest_bid %}
                    <p>You must bid <strong>higher</strong> than the current bid of R{{ highest_bid.bid_amount }}.</p>
                {% else %}
                    <p>You must bid <strong>higher</strong> than the starting bid of R{{ item.starting_bid }}.</p>
                {% endif %}
                </div>
            {% endif %}
        
        {% elif not user.is_authenticated %}
            <p>You must <a href="{% url 'login' %}">Log in</a> to place a bid.</p>
        {% endif %}
    
    {% else %}
        {% if item.winner == request.user %}
            <div id="winning_message">
            <p>Congratulations! You have won this auction for R{{ highest_bid.bid_amount }}.</p>
            </div>
        {% elif highest_bid %}
            <div id="closed_with_winner_message">
            <p>This auction is now closed at R{{ highest_bid.bid_amount }}.</p> 
                <p>Auction winner: {{ item.winner.username }}.</p>
            </div>
        {% else %}    
            <div id="closed_no_winner_message">
            <p>This auction is now closed with no bids.</p>
            </div>
        {% endif %}    
    {% endif %}
    
    <h3>Comments</h3>
    <form action="{% url 'make_comment' item_id=item.id %}" method="post">
        {% csrf_token %}
        {{ comment_form }}   
    <button type="submit">Post</button>
    </form>
    
    
    {% if comment_list %}
    <ul>
        {% for thought in comment_list %}
            <li>
            <div id="comment_box">
                <p>{{ thought.user }}:</p>
                <p>{{ thought.comment }}</p>
                <p>- {{ thought.created_at }}</p>
            </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    
    
{% endblock %}